<div class="title">Que deviennent les élèves après cette formation ?</div>
<% if (data.etablissementLibelle) { %>
<div class="subTitle"><span class="fr-icon-map-pin-2-fill" aria-hidden="true"></span><%= data.etablissementLibelle %></div>
<% } else if (data.region) { %>
<div class="subTitle"><span class="fr-icon-map-pin-2-fill" aria-hidden="true"></span><%= data.region.nom %></div>
<% } else { %>
<div class="subTitle"><span class="fr-icon-map-pin-2-fill" aria-hidden="true"></span>France</div>
<% }  %>