<div class="title fr-h5">Que sont devenus les anciens élèves 6 mois après cette formation ?</div>
<% if (data.etablissementLibelle) { %>
<div class="subTitle grid">

  <div><%= data.etablissementLibelle %></div>
</div>
<% } else if (data.region) { %>
<div class="subTitle grid">

  <div><%= data.region.nom %></div>
</div>
<% } else if (!data.uai) { %>
<div class="subTitle grid">

  <div>France</div>
</div>
<% }  %>