# Override containers for local / dev environnement
services:
  reverse_proxy:
    volumes:
      - trajectoires_pro_nginx_data:/data:z
      - ./reverse_proxy/dev/includes:/etc/nginx/templates/includes/env

  server:
    command: ["yarn", "debug"]
    ports:
      - "127.0.0.1:9229:9229" # Allows remote debugging
    volumes:
      - trajectoires_pro_server_data:/data:z
      - ./server/src:/app/src:z
    environment:
      - TRAJECTOIRES_PRO_ENV=dev
      - TRAJECTOIRES_PRO_LOG_LEVEL=${TRAJECTOIRES_PRO_LOG_LEVEL:-debug}
      - TRAJECTOIRES_PRO_INSERJEUNES_USERNAME=${TRAJECTOIRES_PRO_INSERJEUNES_USERNAME}
      - TRAJECTOIRES_PRO_INSERJEUNES_PASSWORD=${TRAJECTOIRES_PRO_INSERJEUNES_PASSWORD}
      - TRAJECTOIRES_PRO_API_KEY=${TRAJECTOIRES_PRO_API_KEY}
      - CATALOGUE_APPRENTISSAGE_USERNAME=${CATALOGUE_APPRENTISSAGE_USERNAME}
      - CATALOGUE_APPRENTISSAGE_PASSWORD=${CATALOGUE_APPRENTISSAGE_PASSWORD}
      - TRAJECTOIRES_PRO_INSERSUP_BASE_URL=${TRAJECTOIRES_PRO_INSERSUP_BASE_URL}
      - TRAJECTOIRES_PRO_INSERSUP_API_KEY=${TRAJECTOIRES_PRO_INSERSUP_API_KEY}
      - BCN_LOGIN=${BCN_LOGIN}
      - BCN_PASSWORD=${BCN_PASSWORD}
      - BCN_OMOGEN_KEY=${BCN_OMOGEN_KEY}
  mongodb:
    ports:
      - "127.0.0.1:27017:27017"
    volumes:
      - trajectoires_pro_mongodb_data:/data:z

  metabase:
    volumes:
      - trajectoires_pro_metabase_data:/data:z
    environment:
      - MB_DB_FILE=/data/metabase.db
      - MB_SITE_URL=http://localhost/metabase

volumes:
  trajectoires_pro_mongodb_data:
    driver: local
    name: trajectoires_pro_mongodb_data
  trajectoires_pro_nginx_data:
    driver: local
    name: trajectoires_pro_nginx_data
  trajectoires_pro_server_data:
    driver: local
    name: trajectoires_pro_server_data
  trajectoires_pro_metabase_data:
    driver: local
    name: trajectoires_pro_metabase_data
