proxy_cache my_cache;
proxy_cache_valid 200 302 5m;
proxy_cache_valid 404 5m;
proxy_cache_valid any 1m;

add_header X-Cache-Status $upstream_cache_status always;
add_header X-Cache-Key "$request_uri" always;