# Voir l'historique git pour obtenir la version permettant d'accéder au container ui
location / {
    if ($always_redirect = on) {
        return 301 https://$host$request_uri;
    }
    return 301 https://beta.gouv.fr/startups/Trajpro.html;
}
