.fr-header__tools-links .fr-btns-group .fr-btn {
 margin: 0;
}

.fr-header .fr-btns-group .MuiAutocomplete-root button {
    padding: 0.25rem 0.75rem !important;
}

.fr-header .fr-btns-group .MuiAutocomplete-root .fr-btn:before {
    margin-right: 0 !important;
}


.fr-header .addressField .MuiAutocomplete-endAdornment {
    right: 2.2em !important;
}