<div>
  <a class="link-internal">
    Oups, nous n'avons pas cette information.
  </a>
</div>

<div id="no-data-description" class="details">
  <% if (data?.error == 'ErrorFormationNotExist' || data?.error == 'ErrorCertificationNotFound' || data?.error == 'ErrorCertificationsNotFound') { %>
  <div id="description-formation-unknow">
    <div class="details-title">Nous ne disposons pas de données pour cette formation.</div>
  </div>
  <% } %>

  <% if (data?.error == 'ErrorEtablissementNotExist') { %>
  <div id="description-etablissement-unknow">
    <div class="details-title">Nous ne disposons pas de données pour cet établissement.</div>
  </div>
  <% } %>

  <% if (data?.error == 'ErrorRegionaleNotFound') { %>
  <div id="description-region-unknow">
    <div class="details-title">Nous ne disposons pas de données pour cette région.</div>
  </div>
  <% } %>

  <% if (data?.error == 'ErrorNoDataForMillesime') { %>
  <div id="description-millesime-no-data">
    <div class="details-title">Nous ne disposons pas de données pour les promotions <%= data?.millesimes && data.millesimes[0] %><%= data?.millesimes && data.millesimes[1] ? " et " + data.millesimes[1] : "" %>.</div>
  </div>
  <% } %>

  <% if (data?.error == 'ErrorWidgetInvalidData') { %>
  <div id="description-seuil">
    <div class="details-title">
      Il y a aujourd'hui un petit nombre d'élèves dans cette spécialité. Nous ne pouvons pas faire des statistiques fiables sur seulement quelques individus, cela risquerait de fournir de mauvaises informations.
    </div>
  </div>
  <% } %>

  <% if (data?.error == 'ErrorFormationNotFound') { %>
  <div id="description-others">
    <div class="details-title bold">2 cas sont possibles :</div>
    <div class="margin grid">
      <div class="grid-number bold">1.</div>
      <div><span class="bold">NOUVELLE FORMATION : </span>
        cette formation vient d'être créée. Nous aurons donc les résultats plus tard, lorsqu'une première promotion aura fini la formation.</div>
    </div>
    <div class="grid">
      <div class="grid-number bold">2.</div>
      <div><span class="bold">FORMATION NON DISPONIBLE : </span>l'établissement ne propose pas cette formation. </div>
    </div>
  </div>
  <% } %>

  <% if (!data?.error || data?.error == 'Error') { %>
  <div id="description-error">
    <div class="details-title bold">Une erreur s'est produite.</div>
  </div>
  <% } %>
</div>